.group-18 {
   width: 1078px;
   height: 762px;
   position: static;
}

.rectangle-16 {
   position: absolute;
   height: 30px;
   top: 305px;
}

.box {
   position: absolute;
   height: 300px;
   width: 300px;
   top: 345px;
   left: 500px;
}

.rectangle-31 {
   background: #ff0000;
   width: 100%;
   height: 50px;
   position: absolute;
   left: 0px;
   top: 50px;
}

.rectangle-32 {
   background: #a90000;
   width: 100%;
   height: 50px;
   position: absolute;
   left: 0px;
   top: 0px;
}

.group-15 {
   width: 777px;
   height: 29px;
   position: static;
}

.rectangle-6 {
   background: #d9d9d9;
   width: 100%;
   height: 45px;
   position: absolute;
   left: 0px;
   /* top: 100%; */
   bottom: -50px;
}

.for-any-support-inquires-please-contact-us-at-xyz-gmail-com {
   color: #7a7979;
   text-align: left;
   font: 700 12px/7px 'Roboto Flex', sans-serif;
   position: absolute;
   left: 40%;
   /* top: 175px; */
   bottom: -30px;
   text-decoration: none;
}

.group-18 .box {
   position: absolute;
}

.rectangle-33 {
   background: #ff0000;
   width: 777px;
   height: 41px;
   position: absolute;
   left: -369px;
   top: -724px;
}

.group-14 {
   width: 1040px;
   height: 690px;
   position: absolute;
}

.projects {
   color: #ffffff;
   text-align: left;
   font: 700 15px/7px 'Roboto Flex', sans-serif;
   position: absolute;
   left: 95px;
   top: 70px;
   width: 246px;
   height: 20px;
   font-size: large;
}

.rectangle-34 {
   background: #d9d9d9;
   border-radius: 10px;
   width: 662px;
   height: 62px;
   position: absolute;
   left: -299px;
   top: -647px;
}

.rectangle-4 {
   background: #820000;
   width: 50px;
   height: 740px;
   position: absolute;
   left: -8px;
   top: 13px;
}

.rectangle-10 {
   width: 26px;
   height: 26px;
   position: absolute;
   left: 6px;
   top: 62px;
}

.rectangle-11 {
   width: 26px;
   height: 26px;
   position: absolute;
   left: 6px;
   top: 120px;
}

.rectangle-12 {
   width: 26px;
   height: 26px;
   position: absolute;
   left: 6px;
   top: 184px;
}

.rectangle-13 {
   width: 26px;
   height: 26px;
   position: absolute;
   left: 6px;
   top: 249px;
}

.rectangle-38 {
   width: 22px;
   height: 22px;
   position: absolute;
   left: -363px;
   top: -18px;
}

.rectangle-14 {
   position: absolute;
   background-color: #e9e9e9;
   height: 240px;
   width: 1190px;
   left: 200px;
   top: 200px;
   border-radius: 10px;
}

.rectangle-15 {
   position: absolute;
   background-color: #ff0000;
   margin: 0px;
   padding: 0px;
   width: 100%;
   height: 40px;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;

}

.rectangle-15 h3 {
   color: white;
   position: absolute;
   top: -9px;
   left: 500px;

}

.section1 {
   position: absolute;
   color: #ff0000;
   top: 40px;
   left: 130px;
   border-bottom: 2px solid;
   height: 45px;
   width: 250px;
}

.domain input {
   width: 250px;
}

.section2 {
   position: absolute;
   color: #ff0000;
   top: 40px;
   left: 506px;
   border-bottom: 2px solid;
   height: 45px;
   width: 250px;
}

.date input {
   width: 250px;
}

.section3 {
   position: absolute;
   color: #ff0000;
   top: 40px;
   left: 875px;
   border-bottom: 2px solid;
   height: 45px;
   width: 250px;
}

.uploads input {
   width: 250px;
}