.group-16, .group-16 * {
   box-sizing: border-box;
}

.group-16 {
   width: 777px;
   height: 462px;
   position: static;
}

.rectangle-14 {
   position: absolute;
   height: 30px;
   top: 305px;
}


.rectangle-21 {
   background: #fffdfd;
   width: 777px;
   height: 462px;
   position: absolute;
   left: -369px;
   top: 224px;
}

.rectangle-22 {
   background: #a90000;
   width: 100%;
   height: 50px;
   position: absolute;
   left: 0px;
   top: 0px;
}

.rectangle-23 {
   background: #ff0000;
   width: 100%;
   height: 50px;
   position: absolute;
   left: 0px;
   top: 50px;
}

.profile {
   color: #ffffff;
   text-align: left;
   font: 700 20px/20px 'Roboto Flex', sans-serif;
   position: absolute;
   left: 80px;
   top: 65px;
   width: 246px;
   height: 30px;
}

.group-3 {
   width: 286px;
   height: 28px;
   position: static;
}

.rectangle-24 {
   background: #ffffff;
   border-radius: 5px;
   border-style: solid;
   border-color: #a4a4a4;
   border-width: 1px;
   width: 400px;
   height: 30px;
   position: absolute;
   left: 100px;
   top: 170px;
}

.name {
   color: #646161;
   text-align: left;
   font: 700 12px/7px 'Roboto Flex', sans-serif;
   position: absolute;
   left: 114px;
   top: 183px;
}

::placeholder {
   color: #a90000;
   text-align: left;
}

input[type="text"i] {
   padding-right: 300px;
   padding-left: 10px;
   padding-top: 5px;
   padding-bottom: 5px;
}

input[type="number"i] {
   padding-right: 300px;
   padding-left: 10px;
   padding-top: 5px;
   padding-bottom: 5px;
}

input[type="email"i] {
   padding-right: 300px;
   padding-left: 10px;
   padding-top: 5px;
   padding-bottom: 5px;
}

input {
   padding-right: 618px;
   padding-left: 10px;
   padding-top: 20px;
   padding-bottom: 20px;
}

input[type="tel"i] {
   padding-right: 300px;
   padding-left: 10px;
   padding-top: 5px;
   padding-bottom: 5px;
}

input[type="month"i] {
   padding-right: 300px;
   padding-left: 10px;
   padding-top: 5px;
   padding-bottom: 5px;
}


.group-4 {
   width: 286px;
   height: 28px;
   position: static;
}

.rectangle-242 {
   background: #ffffff;
   border-radius: 5px;
   border-style: solid;
   border-color: #a4a4a4;
   border-width: 1px;
   width: 400px;
   height: 30px;
   position: absolute;
   left: 100px;
   top: 240px;
}

.contact-no {
   color: #646161;
   text-align: left;
   font: 700 12px/7px 'Roboto Flex', sans-serif;
   position: absolute;
   left: 110px;
   top: 250px;
}


.group-5 {
   width: 620px;
   height: 28px;
   position: static;
}

.rectangle-243 {
   background: #ffffff;
   border-radius: 5px;
   border-style: solid;
   border-color: #a4a4a4;
   border-width: 1px;
   width: 795px;
   height: 60px;
   position: absolute;
   left: 100px;
   top: 320px;
}

.address {
   color: #646161;
   text-align: left;
   font: 700 12px/7px 'Roboto Flex', sans-serif;
   position: absolute;
   left: 111px;
   top: 330px;
   width: 312.17px;
}

.group-6 {
   width: 286px;
   height: 28px;
   position: static;
}

.rectangle-244 {
   background: #ffffff;
   border-radius: 5px;
   border-style: solid;
   border-color: #a4a4a4;
   border-width: 1px;
   width: 400px;
   height: 30px;
   position: absolute;
   left: 100px;
   top: 440px;
}

.g-mail {
   color: #646161;
   text-align: left;
   font: 700 12px/7px 'Roboto Flex', sans-serif;
   position: absolute;
   left: 110px;
   top: 450px;
}

.group-7 {
   width: 286px;
   height: 28px;
   position: static;
}

.rectangle-245 {
   background: #ffffff;
   border-radius: 5px;
   border-style: solid;
   border-color: #a4a4a4;
   border-width: 1px;
   width: 400px;
   height: 30px;
   position: absolute;
   left: 100px;
   top: 525px;
}

.gender {
   color: #646161;
   text-align: left;
   font: 700 12px/7px 'Roboto Flex', sans-serif;
   position: absolute;
   left: 110px;
   top: 537px;

}

.group-8 {
   width: 286px;
   height: 28px;
   position: static;
}

.rectangle-246 {
   background: #ffffff;
   border-radius: 5px;
   border-style: solid;
   border-color: #a4a4a4;
   border-width: 1px;
   width: 400px;
   height: 30px;
   position: absolute;
   left: 100px;
   top: 610px;
}

.college-name {
   color: #646161;
   text-align: left;
   font: 700 12px/7px 'Roboto Flex', sans-serif;
   position: absolute;
   left: 110px;
   top: 620px;
}

.group-10 {
   width: 286px;
   height: 28px;
   position: static;
}

.rectangle-247 {
   background: #ffffff;
   border-radius: 5px;
   border-style: solid;
   border-color: #a4a4a4;
   border-width: 1px;
   width: 400px;
   height: 30px;
   position: absolute;
   left: 900px;
   top: 440px;
}

.course {

   color: #646161;
   text-align: left;
   font: 700 12px/7px 'Roboto Flex', sans-serif;
   position: absolute;
   left: 910px;
   top: 450px;

}

.group-11 {
   width: 286px;
   height: 28px;
   position: static;
}

.rectangle-248 {
   background: #ffffff;
   border-radius: 5px;
   border-style: solid;
   border-color: #a4a4a4;
   border-width: 1px;
   width: 400px;
   height: 30px;
   position: absolute;
   left: 900px;
   top: 530px;
}

.academic-year {
   color: #646161;
   text-align: left;
   font: 700 12px/7px 'Roboto Flex', sans-serif;
   position: absolute;
   left: 910px;
   top: 542px;
}

.rectangle-30 {
   width: 230px;
   height: 210px;
   position: absolute;
   left: 1020px;
   top: 155px;
}

.group-13 {
   width: 777px;
   height: 29px;
   position: static;
}

.rectangle-6 {
   background: #d9d9d9;
   width: 100%;
   height: 45px;
   position: absolute;
   left: 0px;
   /* top: 657px; */
   bottom: -50px;
}

.for-any-support-inquires-please-contact-us-at-xyz-gmail-com {
   color: #7a7979;
   text-align: left;
   font: 700 12px/7px 'Roboto Flex', sans-serif;
   position: absolute;
   left: 40%;
   /* top: 672px; */
   bottom: -30px;
}

.group-2 {
   width: 33px;
   height: 427px;
   position: static;
}

.rectangle-4 {
   background: #820000;
   width: 45px;
   height: 100%;
   position: absolute;
   left: 0px;
   top: 50px;

}

.rectangle-10 {
   width: 26px;
   height: 26px;
   position: absolute;
   left: 6px;
   top: 62px;
   transition: all 0.2s linear;
}

.rectangle-11 {
   width: 26px;
   height: 26px;
   position: absolute;
   left: 6px;
   top: 120px;
}

.rectangle-12 {
   width: 26px;
   height: 26px;
   position: absolute;
   left: 6px;
   top: 184px;
}

.rectangle-13 {
   width: 26px;
   height: 26px;
   position: absolute;
   left: 6px;
   top: 249px;
}

.rectangle-38 {
   width: 22px;
   height: 22px;
   position: absolute;
   left: -363px;
   top: -18px;
}