<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <link rel="stylesheet" href="../static/css/profile.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Orbitron&family=Roboto+Flex:opsz,wght@8..144,700&family=Tiro+Devanagari+Marathi&display=swap"
    rel="stylesheet"
  />
  <body>
    <div class="group-16">
      <div class="rectangle-21"></div>
      <div class="rectangle-22"></div>
      <div class="rectangle-23"></div>
      <div class="profile">Profile</div>
      <div class="group-3">
        <div class="rectangle-24" id="user-name"><center>Name</center></div>
        <div class="name"></div>
      </div>
      <div class="group-4">
        <div class="rectangle-242" id="user-contact">
          <center>Contact no</center>
        </div>
        <div class="contact-no"></div>
      </div>
      <div class="group-5">
        <div class="rectangle-243" id="user-address">
          <center>Address</center>
        </div>
        <div class="address"></div>
      </div>
      <div class="group-6">
        <div class="rectangle-244" id="user-email"><center>E-mail</center></div>
        <div class="g-mail"></div>
      </div>
      <div class="group-7">
        <div class="rectangle-245" id="user-gender">
          <center>Gender</center>
        </div>
        <div class="gender"></div>
      </div>
      <div class="group-8">
        <div class="rectangle-246" id="user-college">
          <center>College-Name</center>
        </div>
        <div class="college-name"></div>
      </div>
      <div class="group-10">
        <div class="rectangle-247" id="user-course">
          <center>Course</center>
        </div>
        <div class="course"></div>
      </div>
      <div class="group-11">
        <div class="rectangle-248" id="user-year">
          <center>Academic-Year</center>
        </div>
        <div class="academic-year"></div>
      </div>
      <img class="rectangle-30" src="../static/img/Rectangle 30.png" />
      <div class="group-13">
        <div class="rectangle-6"></div>
        <div
          class="for-any-support-inquires-please-contact-us-at-xyz-gmail-com"
        >
          For any support inquires, please contact us at xyz@gmail.com
        </div>
      </div>
      <div class="group-2">
        <div class="rectangle-4"></div>
        <a href="#"
          ><img
            class="rectangle-10"
            onclick="moveRectangle4()"
            src="../static/img/Rectangle 10.png"
        /></a>
        <a href="./first.html"
          ><img class="rectangle-11" src="../static/img/Rectangle 11.png"
        /></a>
        <a href="./profile.html"
          ><img class="rectangle-12" src="../static/img/Rectangle 12.png"
        /></a>
        <a href="./projectsection.html"
          ><img class="rectangle-13" src="../static/img/Rectangle 13.png"
        /></a>
        <a href="./plagiarism.html"
          ><img class="rectangle-14" src="../static/img/Rectangle 38.png"
        /></a>
        <script src="main.js"></script>
      </div>
    </div>
  </body>
</html>
