:root {
   --brown-color: #A90000;
   --dark-brown-color: #820000;
   --red-color: #FF0000;
   --grey-color: #D9D9D9;
   --dark-grey-color: #7A7979;
   --bracket-color: #A4A4A4;
   --input-color: #646161;
}

.select-project-domain img {
   height: 35px;
   position: absolute;
   border: 2px solid #9c9c9c;
}

.group-17, .group-17 * {
   box-sizing: border-box;

}

.group-17 {
   width: 777px;
   height: 462px;
   position: static;
}

.rectangle-1 {
   background: #fffdfd;
   width: 777px;
   height: 462px;
   position: absolute;
   left: -369px;
   top: -271px;
}

.rectangle-20 {
   background: #fffdfd;
   width: 100%;
   height: 100%;
   position: absolute;
   left: 0px;
   top: 0px;
}

.rectangle-2 {
   background: #ff0000;
   width: 100%;
   height: 50px;
   position: absolute;
   left: 0px;
   top: 50px;
}

.project-management-system {
   color: #ffffff;
   text-align: left;
   font: 700 15px/7px 'Roboto Flex', sans-serif;
   position: absolute;
   left: 115px;
   top: 70px;
   width: 246px;
   height: 20px;
   font-size: large;
}

.rectangle-3 {
   background: #a90000;
   width: 100%;
   height: 50px;
   position: absolute;
   left: 0px;
   top: 0px;
}

.rectangle-5 {
   width: 400px;
   height: 250px;
   position: absolute;
   left: 200px;
   top: 300px;
}

.group-12 {
   width: 777px;
   height: 29px;
   position: static;
}

.rectangle-6 {
   background: #d9d9d9;
   width: 100%;
   height: 45px;
   position: absolute;
   left: 0px;
   /* top: 100%; */
   bottom: -50px;
}

.for-any-support-inquires-please-contact-us-at-xyz-gmail-com {
   color: #7a7979;
   text-align: left;
   font: 700 12px/7px 'Roboto Flex', sans-serif;
   position: absolute;
   left: 40%;
   /* top: 175px; */
   bottom: -30px;
   text-decoration: none;
}


.rectangle-7 {
   background: #ffffff;
   border-radius: 5px;
   border-style: solid;
   border-color: #a4a4a4;
   border-width: 1px;
   width: 500px;
   height: 35px;
   position: absolute;
   left: 800px;
   top: 400px;
}

.select-project-domain {
   color: #646161;
   text-align: left;
   font: 700 12px/7px 'Roboto Flex', sans-serif;
   position: absolute;
   left: 800px;
   top: 400px;
   height: 35px;
}

.select-project-domain input {
   height: 35px;
}

.rectangle-9 {
   width: 30px;
   height: 30px;
   position: absolute;
   left: 1460px;
   top: 59px;
}

.group-1 {
   width: 33px;
   height: 426px;
   position: static;
}

.rectangle-4 {
   background: #820000;
   width: 45px;
   height: 100%;
   position: absolute;
   left: 0px;
   top: 50px;
}

.rectangle-10 {
   width: 26px;
   height: 26px;
   position: absolute;
   left: 6px;
   top: 62px;
}

.rectangle-11 {
   width: 26px;
   height: 26px;
   position: absolute;
   left: 6px;
   top: 120px;
}

.rectangle-12 {
   width: 26px;
   height: 26px;
   position: absolute;
   left: 6px;
   top: 184px;
}

.rectangle-13 {
   width: 26px;
   height: 26px;
   position: absolute;
   left: 6px;
   top: 249px;
}

.rectangle-38 {
   width: 22px;
   height: 22px;
   position: absolute;
   left: -363px;
   top: -18px;
}

.rectangle-14 {
   position: absolute;
   height: 30px;
   top: 305px;
}