<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <link rel="stylesheet" href="../static/css/first.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Orbitron&family=Roboto+Flex:opsz,wght@8..144,700&family=Tiro+Devanagari+Marathi&display=swap"
    rel="stylesheet"
  />
  <body>
    <div class="group-17">
      <div class="rectangle-1"></div>
      <div class="rectangle-20"></div>
      <div class="rectangle-2"></div>
      <div class="project-management-system">Project Management System</div>
      <div class="rectangle-3"></div>
      <img class="rectangle-5" src="../static/img/Rectangle 5.png" />
      <div class="group-12">
        <div class="rectangle-6"></div>
        <div
          class="for-any-support-inquires-please-contact-us-at-xyz-gmail-com"
        >
          <a href="#"
            >For any support inquires, please contact us at xyz@gmail.com</a
          >
        </div>
      </div>

      <div class="select-project-domain">
        <input
          id="userinput"
          name="section"
          list="script"
          placeholder="--Select Project Domain--"
          size="70"
        />
        <datalist id="script">
          <option value="PHP"></option>
          <option value="Pyhon"></option>
          <option value="JAVA"></option>
        </datalist>
        <a href="./projectsdisplay.html"
          ><img src="../static/img/rectangle 14.png" alt=""
        /></a>
      </div>

      <div class="group-1">
        <div class="rectangle-4"></div>
        <a href="#"
          ><img class="rectangle-10" src="../static/img/Rectangle 10.png" />
        </a>
        <a href="./first.html"
          ><img class="rectangle-11" src="../static/img/Rectangle 11.png"
        /></a>
        <a href="./profile.html"
          ><img class="rectangle-12" src="../static/img/Rectangle 12.png"
        /></a>
        <a href="./projectsection.html"
          ><img class="rectangle-13" src="../static/img/Rectangle 13.png"
        /></a>
        <a href="./plagiarism.html"
          ><img class="rectangle-14" src="../static/img/Rectangle 38.png"
        /></a>
      </div>
    </div>

    <script src=""></script>
  </body>
</html>
