<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <link rel="stylesheet" href="../static/css/index.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Changa:wght@300&display=swap"
    rel="stylesheet"
  />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap"
    rel="stylesheet"
  />
  <body>
    <div class="frame">
      <div class="cont">
        <div class="rectangles">
          <img class="rect1" src="../static/img/rec2.png" alt="" />

          <img class="rect2" src="../static/img/rec3.png" alt="" />
          <center>
            <h1>PROJECT MANAGEMENT SYSTEM</h1>
            <br />
            <h2>Welcome to our website !</h2>
          </center>
          <div class="link1">
            <img class="student" src="../static/img/profile.png" alt="" />
          </div>
          <div class="link2">
            <a href="./login_student.html">Click here to Login in as Student</a>
            <a class="teacher" href="./signupstudent.html"
              >Click here to Sign up as Student</a
            >
          </div>
          <div class="rectangle-footer">
            <a class="email" href="#">contact us at xyz@gmail.com</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
i
