<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../static/css/login.css" />
  </head>
  <body>
    <div class="frame">
      <div class="group-wrapper">
        <div class="group">
          <div class="overlap">
            <div class="overlap-wrapper">
              <div class="overlap-group">
                <img class="rectangle" src="../static/img/rec2.png" />
                <img class="img" src="../static/img/rec3.png" />

                <div class="overlap-group-wrapper">
                  <div class="overlap-group-2">
                    <div class="div-wrapper">
                      <div class="text-wrapper">Student Login</div>
                    </div>
                    <div class="text-wrapper-2" id="user-password">
                      Password <br />
                      <input type="password" />
                    </div>
                    <img class="line" src="../static/img/line.png" />
                    <div class="overlap-2">
                      <div class="text-wrapper-3">or</div>
                      <div class="text-wrapper-4">
                        <a href="./first.html" id="login-button">Login</a>
                      </div>
                    </div>
                    <img class="rectangle-3" src="../static/img/rec14.png" />
                    <div class="text-wrapper-5">Forgot Password ?</div>
                    <div class="text-wrapper-6" id="user-username">
                      Username <br /><input type="text" name="" id="" />
                    </div>
                    <img class="line-2" src="../static/img/line.png" />
                    <div class="text-wrapper-7">Sign in with Google</div>
                  </div>
                </div>
                <div class="group-2">
                  <div class="rectangle-4"></div>
                  <div class="overlap-3">
                    <div class="text-wrapper-8">Student</div>
                    <div class="rectangle-5"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="rectangle-6"></div>
            <div class="text-wrapper-9">contact us at xyz@gmail.com</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
