<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <link rel="stylesheet" href="../static/css/plagiarism.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Orbitron&family=Roboto+Flex:opsz,wght@8..144,700&family=Tiro+Devanagari+Marathi&display=swap"
    rel="stylesheet"
  />
  <body>
    <div class="group-18">
      <div class="rectangle-31"></div>
      <div class="rectangle-32"></div>
      <div class="group-15">
        <div class="rectangle-6"></div>
        <div
          class="for-any-support-inquires-please-contact-us-at-xyz-gmail-com"
        >
          For any support inquires, please contact us at xyz@gmail.com
        </div>
      </div>
      <div class="rectangle-33"></div>
      <div class="group-14">
        <div class="box">
          check your project plagiarism Here <br />
          <input id="user-file" type="file" />
        </div>
        <div class="rectangle-4"></div>
        <a href="#"
          ><img class="rectangle-10" src="../static/img/Rectangle 10.png"
        /></a>
        <a href="./first.html"
          ><img class="rectangle-11" src="../static/img/Rectangle 11.png"
        /></a>
        <a href="./profile.html"
          ><img class="rectangle-12" src="../static/img/Rectangle 12.png"
        /></a>
        <a href="./projectsection.html"
          ><img class="rectangle-13" src="../static/img/Rectangle 13.png"
        /></a>
        <a href="./plagiarism.html"
          ><img class="rectangle-16" src="../static/img/Rectangle 38.png"
        /></a>
      </div>
      <div class="projects">Plagiarism</div>
      <div class="rectangle-34"></div>
    </div>
  </body>
</html>
