<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <link rel="stylesheet" href="../static/css/projectsdisplay.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Orbitron&family=Roboto+Flex:opsz,wght@8..144,700&family=Tiro+Devanagari+Marathi&display=swap"
    rel="stylesheet"
  />
  <body>
    <div class="group-18">
      <div class="rectangle-31"></div>
      <div class="rectangle-32"></div>
      <div class="group-15">
        <div class="rectangle-6"></div>
        <div
          class="for-any-support-inquires-please-contact-us-at-xyz-gmail-com"
        >
          For any support inquires, please contact us at xyz@gmail.com
        </div>
      </div>
      <div class="rectangle-33"></div>
      <div class="group-14">
        <div class="rectangle-4"></div>
        <a href="#"
          ><img class="rectangle-10" src="../static/img/Rectangle 10.png"
        /></a>
        <a href="./first.html"
          ><img class="rectangle-11" src="../static/img/Rectangle 11.png"
        /></a>
        <a href="./profile.html"
          ><img class="rectangle-12" src="../static/img/Rectangle 12.png"
        /></a>
        <a href="./projectsection.html"
          ><img class="rectangle-13" src="../static/img/Rectangle 13.png"
        /></a>
        <a href="./plagiarism.html"
          ><img class="rectangle-16" src="../static/img/Rectangle 38.png"
        /></a>
      </div>
      <div class="projects">Projects</div>
      <div class="rectangle-34"></div>
      <div class="container3">
        <form action="">
          <table class="table">
            <thead>
              <th class="name" id="user-name">Name</th>
              <th class="email" id="user-email">Email Id</th>
              <th class="technology" id="user-course">Tecnology used</th>
              <th class="upload" id="user-date">Upload date</th>
              <th class="code" id="user-file">Upload source code</th>
            </thead>
            <tbody id="tbody1"></tbody>
          </table>
        </form>
      </div>
      <script>
        var stdNo = 0;
        var tbody = document.getElementById("tbody1");

        function AddItemToTable(name, email, technology, date, code) {
          let trow = document.createElement("tr");
          let td1 = document.createElement("td");
          let td2 = document.createElement("td");
          let td3 = document.createElement("td");
          let td4 = document.createElement("td");
          let td5 = document.createElement("td");
          let td6 = document.createElement("td");

          td1.innerHTML = ++stdNo;
          td2.innerHTML = name;
          td3.innerHTML = email;
          td4.innerHTML = technology;
          td5.innerHTML = date;
          td6.innerHTML = code;

          trow.appendChild(td1);
          trow.appendChild(td2);
          trow.appendChild(td3);
          trow.appendChild(td4);
          trow.appendChild(td5);
          trow.appendChild(td6);

          tbody.appendChild(trow);
        }

        function AddAllItemsToTable(TheStudent) {
          stdNo = 0;
          tbody.innerHTML = "";
          TheStudent.forEach((element) => {
            AddItemToTable(
              element.NameOfStd,
              element.email,
              element.technology,
              element.date,
              element.upload
            );
          });
        }

        function GetAllDataOnce() {
          const dbRef = ref(db);

          get(
            child(dbRef, "StudentsList").then((snapshot) => {
              var students = [];

              snapshot.forEach((childSnapshot) => {
                students.push(childSnapshot.val());
              });
              AddAllItemsToTable(students);
            })
          );
        }

        window.onload = GetAllDataOnce;
      </script>
    </div>
  </body>
</html>
