<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../static/css/signup.css" />
  </head>
  <body>
    <div class="frame">
      <div class="group-wrapper">
        <div class="group">
          <div class="overlap">
            <div class="overlap-wrapper">
              <div class="overlap-group">
                <div class="rectangle"></div>
                <img class="img" src="../static/img/rec2.png" />
                <img class="rectangle-2" src="../static/img/rec3.png" />
                <div class="div">
                  <div class="rectangle-3"></div>
                  <div class="overlap-group-2">
                    <div class="text-wrapper">Student</div>
                    <div class="rectangle-4"></div>
                  </div>
                </div>
                <div class="rectangle-5"></div>
                <div class="rectangle-6"></div>
                <div class="text-wrapper-2">Sign up as Student</div>
                <div class="group-2">
                  <div class="rectangle-7">
                    <input id="user-name" type="text" />
                  </div>
                  <div class="text-wrapper-3">Name :</div>
                </div>
                <div class="group-3">
                  <div class="rectangle-7">
                    <input
                      id="user-email"
                      type="email"
                      name="user-email"
                      id="info"
                    />
                  </div>
                  <div class="text-wrapper-4">E-mail :</div>
                </div>
                <div class="group-4">
                  <div class="rectangle-8">
                    <input id="user-contact" type="number" />
                  </div>
                  <div class="text-wrapper-3">Contact :</div>
                </div>
                <div class="group-5">
                  <div class="rectangle-9">
                    <input
                      itemid="user-password"
                      type="password"
                      name=""
                      id=""
                    />
                  </div>
                  <div class="text-wrapper-5">Password :</div>
                </div>
                <div class="group-6">
                  <div class="rectangle-7">
                    <input id="user-college" type="text" />
                  </div>
                  <div class="text-wrapper-6">College Name:</div>
                </div>
                <div class="group-7">
                  <div class="rectangle-8">
                    <input id="user-year" type="number" />
                  </div>
                  <div class="text-wrapper-3">Academic Year:</div>
                </div>

                <div class="overlap-group-wrapper">
                  <div class="div-wrapper border">
                    <div class="text-wrapper-7">
                      <a href="login_student.html" id="signup-button"
                        >Sign up</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="rectangle-11"></div>
            <div class="text-wrapper-8">contact us at xyz@gmail.com</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
